<canvas id="canvas" width="400" height="400"></canvas>

<form id="drawer">

    draw(<input type="text" id="i_url" placeholder="url"/>,<input type="text" id="i_y" placeholder="Y axis"/>,<input type="text" id="i_x" placeholder="X axis"/>,<input type="text" id="i_w" placeholder="Width"/>,<input type="text" id="i_h" placeholder="Height"/>);
  
  <input type="button" id="send" value="send"/>
  
  <br />
  <code style="font-size: 10px">Try with this url : <br/>https://s3-us-west-2.amazonaws.com/s.cdpn.io/64/Capture_d%E2%80%99e%CC%81cran_2015-07-22_a%CC%80_23.19.08.png</code>
</form>

<script src="lib.js"></script>